<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your interest in Iron Glory, <%= @user.firstname + " " + @user.lastname %>!</h1>
    <p>Your username is <%= @user.username %></p>
    <p>We are excited to sell you some vintage patches! Be sure to head over soon as we are always updating our inventory.</p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
  </body>
</html>
